In [1]:
from sklearn.datasets import load_iris
import pandas as pd

df = load_iris()
df = pd.DataFrame(df.data, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
# Création de la table IRIS DATA
import sqlalchemy as db
from utiles.functions import *
import random

data = DataBaseV2(db_name='Iris_DATA', db_type='sqlite')
data.create_table('iris_data', 
                  id_columns=db.Integer, 
                  sepal_length=db.Float, 
                  sepal_width=db.Float,
                  petal_length=db.Float,
                  petal_width=db.Float)

# Injection dans la base de données
n_lines = random.randint(0, len(df)-10)

for n in range(n_lines, n_lines+10):
    data_value = df.iloc[n]
    data.insert_row('iris_data',
                    id_columns=n,
                    sepal_length = data_value.sepal_length,
                    sepal_width = data_value.sepal_width,
                    petal_length = data_value.petal_length,
                    petal_width = data_value.petal_width)

Table : 'iris_data'  created succesfully

In [5]:
data.dataframe('iris_data')

   id_columns  sepal_length  sepal_width  petal_length  petal_width
0           0           5.1          3.5           1.4          0.2
1           1           4.9          3.0           1.4          0.2
2           2           4.7          3.2           1.3          0.2
3           3           4.6          3.1           1.5          0.2
4           4           5.0          3.6           1.4          0.2

In [4]:
len(df)

150

In [ ]:
n = 150

200