In [1]:
from sklearn.datasets import load_iris
import pandas as pd

data = load_iris()
df = pd.DataFrame(data.data, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
df['y'] = data.target

df

     sepal_length  sepal_width  petal_length  petal_width  y
0             5.1          3.5           1.4          0.2  0
1             4.9          3.0           1.4          0.2  0
2             4.7          3.2           1.3          0.2  0
3             4.6          3.1           1.5          0.2  0
4             5.0          3.6           1.4          0.2  0
..            ...          ...           ...          ... ..
145           6.7          3.0           5.2          2.3  2
146           6.3          2.5           5.0          1.9  2
147           6.5          3.0           5.2          2.0  2
148           6.2          3.4           5.4          2.3  2
149           5.9          3.0           5.1          1.8  2

[150 rows x 5 columns]

In [ ]:
# Création de la table IRIS DATA
import sqlalchemy as db
from utiles.functions import *
import random

data = DataBaseV2(db_name='Iris_DATA', db_type='sqlite')
data.create_table('iris_data', 
                  id_columns=db.Integer, 
                  sepal_length=db.Float, 
                  sepal_width=db.Float,
                  petal_length=db.Float,
                  petal_width=db.Float)

# Injection dans la base de données
n_lines = random.randint(0, len(df)-10)

for n in range(n_lines, n_lines+10):
    data_value = df.iloc[n]
    data.insert_row('iris_data',
                    id_columns=n,
                    sepal_length = data_value.sepal_length,
                    sepal_width = data_value.sepal_width,
                    petal_length = data_value.petal_length,
                    petal_width = data_value.petal_width)

Table : 'iris_data'  created succesfully

In [5]:
data.dataframe('iris_data')

   id_columns  sepal_length  sepal_width  petal_length  petal_width
0           0           5.1          3.5           1.4          0.2
1           1           4.9          3.0           1.4          0.2
2           2           4.7          3.2           1.3          0.2
3           3           4.6          3.1           1.5          0.2
4           4           5.0          3.6           1.4          0.2

In [2]:
from plugins.utiles.functions import *

df = DataBaseV2(db_name='airflow', db_type='sqlite').dataframe("iris_data")
df

    id_columns  sepal_length  sepal_width  petal_length  petal_width  y
0           15           5.7          4.4           1.5          0.4  0
1           16           5.4          3.9           1.3          0.4  0
2           17           5.1          3.5           1.4          0.3  0
3           18           5.7          3.8           1.7          0.3  0
4           19           5.1          3.8           1.5          0.3  0
..         ...           ...          ...           ...          ... ..
89         133           6.3          2.8           5.1          1.5  2
90         134           6.1          2.6           5.6          1.4  2
91         135           7.7          3.0           6.1          2.3  2
92         136           6.3          3.4           5.6          2.4  2
93         137           6.4          3.1           5.5          1.8  2

[94 rows x 6 columns]

In [3]:
df.y

0     0
1     0
2     0
3     0
4     0
     ..
89    2
90    2
91    2
92    2
93    2
Name: y, Length: 94, dtype: int64

In [4]:
df['y']

0     0
1     0
2     0
3     0
4     0
     ..
89    2
90    2
91    2
92    2
93    2
Name: y, Length: 94, dtype: int64

In [7]:
import os
os.environ['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']

'zbe6/anZM6NaCvOj+tUMY6RuT2BiwMBMvNqrXyoV'